
<div style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">CoBrain </h1>
    <h4 class="w3-margin w3-jumbo">Your Team's Second Brain  </h4>
    <p class="w3-xlarge">Unlock the power of seamless collaboration with your all-in-one platform for efficient teamwork and study organization</p>
</div>

<div class="w3-container w3-red w3-center">
    <p class="w3-xlarge">Features at a Glance:</p>
    <ul class="custom-list">
        <li> <strong>Chats:</strong>  Real-time communication channels tailored for efficiency and clarity.</li>
        <li><strong>Centralized Agenda: </strong> All your dates, deadlines, and duties in one neatly organized space.</li>
        <li>Task Tracker: Assign, follow, and complete tasks with a clear overview of progress.</li>
        <li>Resource Hub: Share files, links, and resources, all within easy reach.</li>
        <li>Customizable Workspaces: Tailor your virtual office to fit the unique needs of your team.</li>
    </ul>
    
    
</div>