/* Header styles */
.w3-container.w3-red.w3-center {
    padding: 128px 16px;
    background-color: #f44336; /* Red color for the Header background */
    color: #fff; /* White text color for Header content */
  }
  
  .w3-margin.w3-jumbo {
    margin-bottom: 16px; /* Adjust margin for the jumbo-sized text */
  }


/* Simple List Styles for Red Container */
ul.custom-list {
    padding-left: 40px; /* Padding for alignment */
    color: #fff; /* White text color for contrast against the red background */
}

ul.custom-list li {
    margin-bottom: 10px; /* Space between list items */
}
