/* Header styles */
.w3-container.w3-red.w3-center {
    padding: 128px 16px;
    color: #fff; 
  }
  
  .w3-margin.w3-jumbo {
    margin-bottom: 16px; /* Adjust margin for the jumbo-sized text */
  }


