<div class="w3-container w3-red w3-center">

    <h1>Features at a Glance</h1>

    <ol style="--length: 5" role="list">
        <li style="--i: 1">
            <h3>Chats</h3>
            <p>Real-time communication channels tailored for efficiency and clarity.</p>
        </li>
        <li style="--i: 2">
            <h3>Centralized Agenda</h3>
            <p>All your dates, deadlines, and duties in one neatly organized space.</p>
        </li>
        <li style="--i: 3">
            <h3>Task Tracker</h3>
            <p>Assign, follow, and complete tasks with a clear overview of progress.</p>
        </li>
        <li style="--i: 4">
            <h3>Resource Hub</h3>
            <p>Share files, links, and resources, all within easy reach.</p>
        </li>
        <li style="--i: 5">
            <h3>Custom groups</h3>
            <p>Tailor your virtual office to fit the unique needs of your team.</p>
        </li>
    </ol>

