
  .card{
    width: 350px;
    /* height: 260px; */
  }

  .card-top-head{
    /* border-bottom: 1px solid rgba(218, 220, 223, 0.877); */
    height: 50px;
    display: flex;
    justify-content: space-between;
    
  }

  .group-image {
    width: 45px;
    height: 45px;
    background-color: rgb(199, 156, 183);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 4;  
    -webkit-box-orient: vertical;
    height : 100px;
    color: #666;
    overflow: hidden; 
    margin: 10px 0;
  

  }

  .tags {
    padding: 5px 0;
    height : 30px ;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

  }

  .call-to-action {
    border-top: 1px solid rgba(218, 220, 223, 0.877);
    padding: 16px ;
    display: flex;
    justify-content: space-between;
  }

  button {
    border-radius: 10px;
    padding: 5px 25px;
    background-color: white;
}

.view-more-btn {
 border: 2px solid rgb(16, 16, 16);
 
}
.view-more-btn:hover {
  
}
.join-btn{
  background-color: rgb(16, 16, 16);
  color: white;
}