  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <img src = "assets/images/landing-page/Online calendar-bro (1).png" alt="second-grid-image" style="width: 100%;">
      </div>
  
      <div class="w3-twothird">
        <h1>Centralized Agenda - A Single Source of Truth  </h1>
        <h5 class="w3-padding-32">Forget the hassle of juggling multiple calendars. Our unified agenda integrates deadlines and tasks from all your groups. Stay ahead, stay informed, and never miss a beat.</h5>
  
        <p class="w3-text-grey">Our centralized CoBrain agenda is key to mastering tasks across multiple groups. It brings together all your deadlines and responsibilities in one place, regardless of the number of projects or teams you're collaborating with. Easy to visualize and manage, this tool ensures you always stay aligned with your various commitments, promoting seamless coordination and enhanced productivity.</p>
      </div>
    </div>
  </div>
  
  