/* Second Grid styles */
.w3-row-padding.w3-light-grey.w3-padding-64.w3-container {
    background-color: #fafafa; /* Very light gray color for the Second Grid background */
  }
  
  .w3-third.w3-center {
    padding: 16px; /* Adjust padding for the Second Grid content */
  }
  
  .fa-coffee.w3-text-red {
    color: #f44336; /* Red color for the coffee icon in the Second Grid */
  }