<div class="row mb-3">
  <label [attr.for]="type" class="col-sm-3 col-form-label">{{ label }}</label>

  <div class="col-sm-7" >
    <!-- Display Mode for Username or Email -->
    <span *ngIf="!editMode && type !==   'password'" [attr.id]="type">{{ value }}</span>
    <div class="col-sm-7 " *ngIf="!editMode && type === 'password'">
      <button type="button" class="btn btn-primary" (click)="enterEditMode()">
        Change password
      </button>
    </div>
    <!-- Edit Mode for Username or Email -->
    <div *ngIf="editMode && type !== 'password'">
      <input class="form-control mb-2" [(ngModel)]="editedValue">
      <span *ngIf="type === 'email' && editedValue && !isEmailValid" class="text-danger">Invalid email format.</span>
      <span *ngIf="type === 'text' && editedValue && !isUsernameValid" class="text-danger">Username must be at least 3 characters.</span>
      <div class="d-flex justify-content-start">
        <button type="button" class="btn btn-success me-2" (click)="save()" [disabled]="(type === 'email' && !isEmailValid) || (type === 'text' && !isUsernameValid)">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>

    <!-- Edit Mode for Password -->
    <div *ngIf="editMode && type === 'password'">
      <input type="password" class="form-control mb-2" placeholder="New Password" [(ngModel)]="newPassword">
      <input type="password" class="form-control mb-2" placeholder="Confirm New Password" [(ngModel)]="confirmPassword" #confirmPasswordModel="ngModel">
      <span *ngIf="type === 'password' && confirmPasswordModel.dirty && !isPasswordConfirmed" class="text-danger">
  Password mismatch
</span>
      <div class="d-flex justify-content-start">
        <button type="button" class="btn btn-success me-2" [disabled]="(!isPasswordConfirmed) "(click)="save()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Edit Button (visible in display mode for non-password) -->
  <div class="col-sm-2" *ngIf="!editMode && type !== 'password'">
    <button class="btn btn-outline-primary" (click)="enterEditMode()">
      <span [innerHTML]="editIcon"></span> {{ button }}
    </button>
  </div>

</div>
