
<div class="main">
<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="assets/images/auth-images/signin.jpg" alt="sing up image"></figure>
        <a href="#" class="signup-image-link" (click)="redirectToRegister()" >Create an account</a>
      </div>

      <div class="signin-form">
        <h2 class="form-title">Log in</h2>
        <form [formGroup]="form" (ngSubmit)="login()">
          <!-- email Field -->
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
          </div>

          <!-- Password Field -->
          <div class="form-group">
            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
          </div>

         

          <!-- Submit Button -->
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" [disabled]="!form.valid"/>
          </div>
        </form>

        <div class="social-login">
          <span class="social-label">Or login with</span>
          <ul class="socials">
            <li>
              <span [innerHTML]="FacebookIcon" alt="Facebook Icon"  ></span>
            </li><li>
              <span [innerHTML]="XIcon" alt="X Icon"  ></span>
            </li><li>
              <span [innerHTML]="GmailIcon" alt="Gmail Icon"  ></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- JS -->

