.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.header {
    border : none;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    width : 600px;
    margin-left: 10px;
}

.form-control{
    border-color: none ;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.1);
    border : rgba(33, 37, 41, 0.1); 
  }

.cards-list {
    padding: 0 20px;
}






