
<div mat-dialog-header class="dialog-header">
    <div class="title"><h4>Create a New Group</h4></div>
    <button type="button" class="close-button" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="30" height="37" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  
  <div mat-dialog-content class="content">
    <img src="assets/svg/Team-work.svg" >

    
    <form #groupForm="ngForm" (ngSubmit)="submitForm(groupForm)" class="form-container">
      <mat-form-field appearance="outline" class="form-group">
        <mat-label for="groupName">Group Name:</mat-label>
        <input matInput type="text" id="groupName" name="groupName" [(ngModel)]="formData.groupName" #groupName="ngModel"
          required maxlength="10" />
        <mat-error *ngIf="groupName.invalid && groupName.touched && groupName.errors?.['required']">Group name is
          required.</mat-error>
        <mat-error *ngIf="groupName.invalid && groupName.dirty && groupName.errors?.['maxlength']">Maximum 10 characters
          allowed.</mat-error>
      </mat-form-field>
  
      <div class="upload-button" (click)="handleUploadClick()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload Image</span>
      </div>
  
      <mat-form-field appearance="outline" class="form-group">
        <mat-label for="description">Description:</mat-label>
        <textarea matInput rows="4" id="description" name="description" [(ngModel)]="formData.description"
          #description="ngModel" required maxlength="100"></textarea>
        <mat-error *ngIf="description.invalid && description.touched && description.errors?.['required']">Description is
          required.</mat-error>
        <mat-error *ngIf="description.invalid && description.dirty && description.errors?.['maxlength']">Maximum 100
          characters allowed.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-group">
        <mat-label for="tags">Tags (Optional):</mat-label>
        <input matInput type="text" id="tags" name="tags" [(ngModel)]="formData.tags" #tags="ngModel" />
      </mat-form-field>
  
      <div class="radio-group">
        <mat-radio-group [(ngModel)]="formData.groupType" name="groupType" required>
          <mat-radio-button value="public">Public</mat-radio-button>
          <mat-radio-button value="private">Private</mat-radio-button>
        </mat-radio-group>
      </div>
  
      <button mat-raised-button color="primary" [disabled]="groupForm.invalid" class="submit-btn">Submit</button>
    </form>
    </div>

