<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Effortless Collaboration, Boundless Productivity</h1>
        <h5 class="w3-padding-32">CoBrain offers a shared space for your group's collective intellect. Our platform isn't just about getting things done—it's about creating a flow of ideas, a rhythm of productivity, and a harmony of schedules.</h5>
  
        <p class="w3-text-grey">CoBrain transforms collaboration into a dynamic and inspiring experience. Our platform enables intuitive idea sharing, enriching each project with a diversity of perspectives. It's the ideal space for collective creativity, where every contribution builds towards excellence.</p>
      </div>
  
      <div class="w3-third w3-center">
        <img src = "assets/images/landing-page/Open source-rafiki (2).png" alt="first-grid-image" style="width: 100%;">
      </div>
    </div>
  </div>
